.product_img {
    width: 29vmin;
    height: 28vmin;
    border-radius: 3vmin;
}

MyDiv {
    width: fit-content;
}

.info_name {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 4vmin;
    text-align: center;
    color: #33186A;
    white-space: nowrap;
}

.product_info {
    margin: 0 1vmin 2vmin 1vmin;
    cursor: pointer;
}

h3 {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 2.5vmin;
    margin: 0;
    color: #33186A;
}

.p {
    font-size: 2.5vmin;
    color: #000000;
    margin: 0;
}

.h1 {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 5vmin;
    line-height: 5vmin;
    text-align: center;
    color: #33186A;
}

@media screen and (max-width: 701px) {
    .info_name {
        font-size: 5vmin;
    }

    .product_img {
        width: 35vmin;
        height: 34vmin;
    }

    .p, h3 {
        font-size: 3.5vmin;
    }

}
