.main_body {
    font-size: 2vmin;
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    margin: 0;
}

.arrow_img {
    height: 8vmin;
    width: 3vmin;
    padding: 2vmin;
    cursor: pointer;
}

.product_photo {
    height: 60vmin;
    width: 90vmin;
    border-radius: 3vmin;
}

.product_photos {
    height: 13vmin;
    width: 13vmin;
    margin: 1vmin;
    border-radius: 2vmin;
}

.h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vmin;
    color: #33186A;
    white-space: nowrap;
}

.product_categories{
    display: flex;
}

h3 {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 2.5vmin;
    margin: 0;
    color: #33186A;
}

.p {
    font-size: 2.5vmin;
    color: #000000;
    margin: 0;
}

.description {
    font-size: 2.5vmin;
    color: #000000;
    margin: 0;
    padding: 2.5vmin;
}

.reviews {
    font-size: 2.5vmin;
    color: #000000;
    margin: 1vmin;
}

.descriptionBtn {
    font-size: 2.5vmin;
    color: #33186A;
    margin: 0;
    margin-left: 4vmin;
    padding-bottom: 2vmin;
    cursor: pointer;
    text-decoration: underline;
}

.info_name {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 4vmin;
    text-align: center;
    color: #33186A;
    white-space: nowrap;
}

.info_text {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    margin: 0 0 0 4vmin;
    font-size: 4vmin;
    white-space: nowrap;
}

.product_data_container {
    display: flex;
    justify-content: space-evenly;
}

.product_photos_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_data_left {
    display: flex;
    align-items: center;
    /* margin-left: 7vmin; */
}

.info_container_reviews {
    border: solid 0.3vmin #33186A;
    border-radius: 2vmin;
    height: fit-content;
}

.product_photo_box {
    display: flex;
    justify-content: center;
}

.product_btn_container {
    display: flex;
    width: 30vmin;
    justify-content: space-around;
}

.info_container {
    margin-right: 2vmin;
}

.container_top {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2vmin;
}

.btn_cart {
    background: #E0E0E0;
    border-radius: 2vmin;
    outline: none;
    border: none;
    padding: 1vmin;
    cursor: pointer;

    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 3vmin;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.btn_buy {
    background: #33186A;
    border-radius: 2vmin;
    outline: none;
    border: none;
    padding:  1vmin;
    cursor: pointer;
    margin-right: 1vmin;

    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 3vmin;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #E0E0E0;
}

@media screen and (max-width: 1400px) {

    .btn_cart {
        margin-right: 1vmin;
    }

    .product_btn_container {
        justify-content: flex-start;
        width: auto;
    }

    .info_container {
        margin-right: 0;
    }

    .arrow_img {
        padding: 1vmin;
    }

    .product_photo {
        height: 55vh;
        width: 50vw;
    }
}

/* @media screen and (max-width: 100px) {
    .product_data_container {
        justify-content: center;
    }
} */

@media screen and (max-width: 1000px) {
    .product_data_container {
        display: block;
    }

    .product_data_left {
        justify-content: center;
    }

    .product_photo {
        height: 40vh;
        width: 85vw;
    }

    .container_top {
        align-items: center;
        justify-content: space-between;
        margin: 0 4vmin;
        margin-bottom: 2vmin;
    }

    .info_container_reviews {
        margin: 0 4vmin;
    }

    .product_container{
        margin: 0 2vmin;
    }
}