.h1 {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    line-height: 9vmin;
    color: #000000;
}


@media screen and (max-width: 700px) { 
    .h1{
        line-height: 12vmin;
    }
}