.main_body {
    font-size: 2vmin;
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    margin: 0;
}

::-webkit-scrollbar {
    width: 1vmin;
    background-color: #E0E0E0;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 1vmin;
    background-color: #33186a;
  }
  
::-webkit-scrollbar-track {
    border-radius: 1vmin;
}

.h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vmin;
    color: #33186A;
    white-space: nowrap;
}

.filter_ico, .filter_btn{
    display: none;
}

.open_filter_img, .close_filter_img {
    display: none;
    width: 6vmin;
    height: 6vmin;
    cursor: pointer;
}

.products_container{
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 5vmin;
}

.filter_container {
    margin: 2vmin;
    display: flex;
}

.filter_label {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 3vmin;
}

.productsList_container {
    margin: 0 4vmin 0 2vmin;
    width: 100%;
    height: 10%;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start; */
}

input[type="checkbox" i], input[type="radio" i] {
    cursor: pointer;
    width: 2vmin;
    height: 2vmin;
    margin: 1vmin;
}

.filtersList_container {
    position: sticky;
    top: 0;
    padding: 0 3vmin 1vmin 1vmin;
    width: fit-content;
    height: fit-content;
    background: #E0E0E0;
    border-radius: 3vmin;
}

/* .filtersList_container::-webkit-scrollbar {
    width: 0.2vmin;
    background-color: #f9f9fd;
}
  
.filtersList_container::-webkit-scrollbar-thumb {
    border-radius: 1vmin;
    background-color: #33186a;
}
  
.filtersList_container::-webkit-scrollbar-track {
    border-radius: 1vmin;
} */

.product_list {
    display: grid;
    grid-template-rows: 47vmin;
    grid-template-columns: repeat(auto-fill, 33vmin);
    grid-gap: 2vmin;
    justify-content: center;
    height: 20%;
    margin-bottom: 3vmin;
}

.btn {
    width: 97%;

    background: #E0E0E0;
    border-radius: 2vmin;
    outline: none;
    border: none;
    padding: 1vmin 0;
    margin: 2vmin 0;
    cursor: pointer;

    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 3vmin;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.sort_select {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 3vmin;
    background: #E0E0E0;
    outline: none;
    border: none;
    padding: 1vmin;
    border-radius: 2vmin;
}

.select_option {
    font-family: system-ui;
    font-style: normal;
    font-weight: 100;
    font-size: 3vmin;
}

.select_option:hover {
    background-color: #a08cc9;
}

.select_option:checked{
    background: #a08cc9;
}

.productsList_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vmin;
}

@media screen and (max-width: 1400px) {
    .main_body {
        font-size: 1.8vmin;
    }

    .products_container {
        margin-top: 3vmin;
    }
    
    .product_list {
        padding: 0;
    }
}

@media screen and (max-width: 701px) {
    .productsList_container {
        margin: 0 0 0 2vmin;
    }

    input[type="checkbox" i], input[type="radio" i] {
        width: 4vmin;
        height: 4vmin;
    }

    .filtersList_container {
        display: none;
    }

    .btn {
        font-size: 4vmin;
    }

    .productsList_info {
        justify-content: space-around;
        margin: 0;
    }

    .h3 {
        margin: 0 2vmin 0 0;
        justify-content: center;
        font-size: 4.5vmin;
    }

    .filter_label {
        font-size: 4vmin;
    }

    .sort_select {
        font-size: 4vmin;
    }

    .product_list {
        grid-template-rows: 54vmin;
        grid-template-columns: repeat(auto-fill, 39vmin);
    }

    .filter_ico {
        display: block;
        z-index: 6;
    }
    
    .open_filter_img {
        display: block;
    }

    body:has(.filter_btn:checked) {
        overflow: hidden;
    }

    .filter_btn:checked ~ .productsList_container > .productsList_info > .filter_ico > .close_filter_img {
        display: block;
    }

    .filter_btn:checked ~ .productsList_container > .productsList_info > .filter_ico > .open_filter_img {
        display: none;
    }

    .filter_btn:checked ~ .productsList_container > .productsList_info > .filter_ico {
        position: absolute;
        top: 5vmin;
        right: 10vmin;
    }

    .filter_btn:checked ~ .filtersList_container {
        display: block;
        position: fixed;
        padding: 5vmin;
        left: 0;
        top: 0;
        overflow: auto;
        height: 97%;
        width: 90%;
        border-radius: 0;
        z-index: 5;
    }
}